{% extends "otakantaa/base.html" %}
{% load i18n %}

{% block content %}
<article id="scheme-delete-confirmation" class="well">
    <h1>{% trans "Hankkeen poisto" %}</h1>
    <form method="post">
        {% csrf_token %}
        <p>{% blocktrans with url=object.get_absolute_url %}Poistetaanko hanke <a href="{{ url }}">{{ object }}</a> varmasti?{% endblocktrans %}</p>
        <input type="submit" class="btn btn-default" value="{% trans "Poista" %}" />
        <a class="btn btn-default" href="{% url 'content:scheme_detail' object.pk %}">{% trans "Peruuta" %}</a>
    </form>
</article>
{% endblock content %}