<div id="title" class="ajaxy-wrap editable-wrap">
    {% include "content/parts/scheme_detail_title.html" with title=_("Muokkaa otsikkoa") %}
</div>

<div class="scheme-picture ajaxy-wrap editable-wrap">
    {% include "content/parts/scheme_detail_picture.html" with title=_("Vaihda kuva") %}
</div>

<div class="content-lead-text ajaxy-wrap editable-wrap">
    {% include "content/parts/scheme_detail_lead_text.html" %}
</div>

<div id="text">
    <div class="description ajaxy-wrap editable-wrap">
        {% include "content/parts/scheme_detail_description.html" with title=_("Muokkaa kuvausta") %}
    </div>
</div>