{% extends "widget/widget_content_base.html" %}

{% load i18n fontawesome %}

{% block widget_results %}
    <ul class="scheme-content-list scheme-content-list-conversation">
        {% for comment in object_list %}
            <div class="widget-item">
                {% include "scheme/scheme_conversation_list_item.html" %}
            </div>
        {% endfor %}
    </ul>
{% endblock widget_results %}

{% block widget_no_results %}{% trans "Kommentteja ei löytynyt." %}{% endblock widget_no_results %}

{% block widget_footer %}
{% endblock widget_footer %}
