{% load i18n %}

<div class="row" style="padding:15px;">
    <p>{% trans "Käyttäjä liitti itsensä organisaation yhteyshenkilöksi rekisteröitymisen yhteydessä" %}</p>
    <div class="col-md-6">
        <h2>{% trans "Käyttäjä" %}</h2>
        {% include "account/profile_picture.html" with user=object.user %}
        <div class="clearfix"></div>

        <a href="{{ object.user.get_absolute_url }}">{{ object.user }}</a>
    </div>

    <div class="col-md-6">
        <h2>{% trans "Organisaatio" %}</h2>
        {% include "organization/organization_picture.html" with object=object.organization %}
        <a href="{{ object.organization.get_absolute_url }}">{{ object.organization }}</a>
    </div>
</div>