{% extends 'otakantaa/base.html' %}

{% load i18n bootstrap3 %}

{% block content %}
    <h1>{% trans "Rekisteröidy" %}</h1>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div>
                <h2>{% trans "Rekisteröidy sähköpostiosoitteella" %}</h2>
                <a class="btn btn-default" href="{% url 'account:signup' %}">{% trans "Rekisteröidy sähköpostilla" %}</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div>
                <h2>{% trans "Rekisteröidy Facebook-tunnuksilla" %}</h2>
                <p>{% trans "Säästä aikaa rekisteröitymällä Facebook-tunnuksillasi." %}</p>
                <a class="btn btn-default" href="{% url 'social:begin' 'facebook' %}?action=signup">{% trans "Rekisteröidy Facebook-tunnuksillasi" %}</a>
            </div>
        </div>
    </div>
{% endblock content %}
