{% extends "content/edit_base_form.html" %}
{% load i18n bootstrap3 %}
{% block form_body %}
    {% if form.instance.picture %}
    <div class="form-group">
        <label class="control-label" for="id_current_picture">{% trans "Nykyinen kuva" %}</label>
        {% include 'scheme/scheme_main_picture.html' with object=form.instance %}
    </div>
    {% endif %}
    {{ block.super }}
{% endblock form_body %}
{% block form_actions %}
    {% if form.instance.picture %}
        <a href="{% url 'content:delete_scheme_picture' scheme_id=form.instance.pk %}" class="btn btn-default remove-picture ajaxy-link" data-ajaxy-method="DELETE">{% bootstrap_icon "remove" %} {% trans "Poista kuva" %}</a>
    {% endif %}
    {{ block.super }}
{% endblock form_actions %}