{% extends "account/profile_base.html" %}

{% load i18n bootstrap3 %}

{% block summary %}{% endblock summary %}

{% block subcontent %}
    <div class="well margin-top-2">
        <h3>{% trans "Salasanan vaihto" %}</h3>

        <form class="narrow-form" method="post" action="{% url 'account:password' object.pk %}" autocomplete="off" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">{% trans "Tallenna" %}</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock subcontent %}